## AUTHOR: L.O.V.Edwards
## Date: Feb 28/2023 
# Purpose
The purpose of the notebook is to introduce Pandas data structures, in particular, DataFrames. We begin by discussing series versus DataFrames, and then dive into using DataFrames. 

    1. We begin with a discussion of Pandas data structures.
    2. We use a Pokemon dataset as an example to highlight how to manipulate Pandas DataFrames.
    3. We spend some time learning how to handle missing data.
    4. We end with a task/discussion to develop future tutorial elements that will implement what we learn on this dataset, to a Rubin DP0.2 context

This tutorial is created for undergraduate students beginning their adventures in Python, and  preparing to use the LSST DP0 data and its associated tutorials. It is based on a tutorial that was created for the Edwards galaxy Lab by Emily Claire. The original is available at: https://github.com/ledwar04/Pandas_How_Tohttps://github.com/ledwar04/Pandas_How_To

# 1. What are main Pandas Data Structures?

This tutorial will go over how to create and manipulate Pandas Series and DataFrames.

## Getting Started

### Importing Pandas

To import Pandas type:
<br> 'import pandas as pd'

In [ ]:
#How to import pandas

import pandas as pd

## Information on Series and DataFrames

### What is a Series?

### What is a DataFrame

### When to use a Series

### When to use a DataFrame?

## Creating a DataFrame

### Creating a DataFrame from a CSV

#### Importing the Whole CSV File

If you want to import everything from your .csv file then you use this code, where my_dataframe is the name of the dataframe you are creating and my_csv.csv is the name of file that already exists that you are importing.

`my_dataframe = pd.read_csv('my_csv.csv')`

`'my_csv.csv'` is the location of the csv file relative to where the jupyter notebook is. If the file is in the same folder as the jupyter notebook then you can just use the name of the file. If the file is somewhere else then you have to use the path of the file.

In [ ]:
#File in same folder
pokemon = pd.read_csv('pokemon.csv')

pokemon.head()

In [ ]:
#File in a sub folder called example

digimon = pd.read_csv('example/DigiDB_digimonlist.csv')

digimon.tail()

#### Importing Specific Columns from a CSV file
If you only want certain columns from a csv file, then you need to use 'usecols'. 
<br> Example:  `my_dataframe = pd.read_csv('my_csv.csv', usecols = ['Name of column1', 'Name of column 2'])`

In [ ]:
pokemon_name_types = pd.read_csv('pokemon.csv', usecols = ['Name', 'Type 1', 'Type 2'])

pokemon_name_types.head()

## 2. Manipulating a DataFrame

### Creating a new DataFrame from specific data from 1 specific column

Let's say you want to only access items that have a specific value in a certain column. 
<br> You would use the code `my_specific_items = my_dataframe.loc[my_dataframe['Column Name'] == 'Column Value']`
<br> You can also use other boolean operations like less than, greater than, etc
<br> `my_specific_items = my_dataframe.loc[my_dataframe['Column Name'] < 4]

In [ ]:
#Getting the digimon that have speed > 70
pokemon_fast = pokemon.loc[pokemon['Speed'] > 120]

pokemon_fast.head()

### Creating a new Series that is the result of algebraic manipulation of previous DataFrame elements

Let's say you want to create a new series that is the result of the algebraic manipulation of a column of a DataFrame. You can use *, -, /, -.
<br> You would use the code `my_specific_items = value / my_dataframe.loc[my_dataframe['Column Name'] == 'Column Value']`

In [ ]:
#Getting the digimon that have speed > 70, but changing to km/s instead of m/s
pokemon_kms = pokemon['Speed'] / 1000.

pokemon_kms.head()

### Creating a new DataFrame from specific data from multiple columns

You can select specific parts of dataframes by using ()'s, &, and |

`my_dataframe = my_dataframe[(my_dataframe.column_name < value) & (my_dataframe.column_name == value)]`

is the same as 

`my_dataframe = my_dataframe[(my_dataframe['column_name'] < value) & (my_dataframe['column_name'] == value)]` 

because `my_dataframe.key` is the same as `my_dataframe['key']`. Just be consistent.

Suppose you wanted to get all the digimon that had the attribute Neutral or Light and were in stage Mega.

In [ ]:
mega_light_or_neutral = digimon[(digimon.Stage == 'Mega') & 
                                ((digimon.Attribute == 'Light') | (digimon.Attribute == 'Neutral'))]

mega_light_or_neutral

## 3. Handling Missing Data

### Assessing missing data

We've imported a csv file that has missing data. The missing data is represented by NaN.

In [ ]:
fruit_in_pie = pd.read_csv('example_nan.csv')

fruit_in_pie.head()

If you want to see how many NaN values are in each column, then you type `my_dataframe.isnull().sum()` where my_dataframe is the name of the dataframe you are using.

In [ ]:
fruit_in_pie.isnull().sum()

If you want to see how many NaN values are in each row, then you type `my_dataframe.isnull().sum(axis = 1)`

The default axis is axis = 0, which represents the columns. The rows are represented by axis = 0

In [ ]:
fruit_in_pie.isnull().sum(axis = 1)

If you want to find out how many total NaN values you have than you do type `my_dataframe.isnull().sum().sum()`

In [ ]:
fruit_in_pie.isnull().sum().sum()

### Removing NaN's

You can remove NaN values by removing any columns that contain NaN's or removing any rows that have NaN's.

for more detailed information see https://pandas.pydata.org/docs/user_guide/missing_data.htmlhttps://pandas.pydata.org/docs/user_guide/missing_data.html

#### Removing Columns with NaN's

If you want to create a new data frame without columns that have NaN's (so without Bananas and Apples) then you type `my_dataframe_without_NaN = my_dataframe.dropna(axis = 1)` 

If you want to just remove the columns with NaNs from your original dataframe, then you type `my_dataframe.dropna(axis = 1, inplace = True)`

In [ ]:
#Removes all columns with NaN values
no_nan_in_cols = fruit_in_pie.dropna(axis = 1)

no_nan_in_cols

If you want to create a new data frame without rows that have NaN's (so without rows 0, 1, 3, 4) then you type <br>`my_dataframe_without_NaN = my_dataframe.dropna(axis = 0)` <br>or <br>`my_dataframe_without_NaN = my_dataframe.dropna()` because the default value of axis is 0.

If you want to just remove the rows with NaNs from your original dataframe, then you type <br>`my_dataframe.dropna(axis = 0, inplace = True)`<br> or <br>`my_dataframe.dropna(inplace = True)`

In [ ]:
#Removes all rows with NaN values
#default does axis = 0
no_nan_in_rows = fruit_in_pie.dropna()
no_nan_in_rows

### Replacing NaN's

Sometimes it is helpful to replace NaNs with a specific value. Below we show how to replace all NaNs with a -99 value, then, how to replace NaNs in a particular Column, and finally how to replace a NaN at a particular column and row.

In [ ]:
replace_nan = fruit_in_pie.fillna(-99)
replace_nan

In [ ]:
fruit_in_pie['Apples'].fillna(50, inplace = True)
fruit_in_pie

In [ ]:
fruit_in_pie.loc[3, 'Bananas'] = 100
fruit_in_pie

## 4. How to practice with DP0.2

Discuss and write down your ideas for implementing some of these types of tasks on DP0.2 data. Prize for individuals (or groups) who develop a tutorial element that I use next year in the workshop.

## Resources

How to make dataframes from csv files - https://pandas.pydata.org/docs/user_guide/io.htmlhttps://pandas.pydata.org/docs/user_guide/io.html
<br>digimon csv file - https://www.kaggle.com/rtatman/digidb
<br> How to use get specific columns from a csv file - https://stackoverflow.com/questions/26063231/read-specific-columns-with-pandas-or-other-python-module
<br> How to combine DataFrames - https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.htmlhttps://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## Answers
A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type. This is the primary pandas data structure.

A Pandas DataFrame is like a table. It is a Two-dimensional, potentially heterogeneous tabular data structure. This data structure contains labeled axes (rows and columns). Arithmetic operations align on both row and column labels. It can be thought of as a dict-like container for Series objects. 

I should use a Series when the data is one-dimentional and all of the same type.

I should use a DataFrame when the data is two-dimentonal and the DataFame elements have different column types

# Possible code snippet for DP0.2 data. 
To run the following cells, you'll need to properly import the TAP requirements, as in Tutorials 1 and 2 for the Notebooks aspect from within DP0.2 found. More information here: https://dp0-2.lsst.io/tutorials-examples/index.html

The first cell sets up a TAP query, the second cell manipulates the results in Pandas format.

# set up a tap query to get a list of bright galaxies near a cluster

#joins object and truth data for bright galaxies around an ra,dec location

def runTAPobjplustruth(ra, dec, size):
    """
    Get tables of observed galaxies from the tap

    Parameters
    ----------
    ra : ra
    dec : dec
    size: in degrees

    Returns
    -------
    truth_plus_meas: table of truth table matched to objects
    """
    
    # Define the query   
    query = "SELECT mt.id_truth_type AS mt_id_truth_type, "\
        "mt.match_objectId AS mt_match_objectId, "\
        "ts.ra AS ts_ra, "\
        "ts.dec AS ts_dec, "\
        "ts.truth_type AS ts_truth_type, "\
        "ts.mag_r AS ts_mag_r, "\
        "ts.redshift AS redshift, "\
        "obj.coord_ra AS ra, "\
        "obj.coord_dec AS dec, "\
        "obj.refExtendedness AS obj_refExtendedness, "\
        "scisql_nanojanskyToAbMag(obj.r_cModelFlux) AS mag_r_cModel, "\
        "scisql_nanojanskyToAbMag(obj.i_cModelFlux) AS mag_i_cModel "\
        "FROM dp02_dc2_catalogs.MatchesTruth AS mt "\
        "JOIN dp02_dc2_catalogs.TruthSummary AS ts ON mt.id_truth_type = ts.id_truth_type "\
        "JOIN dp02_dc2_catalogs.Object AS obj ON mt.match_objectId = obj.objectId "\
        "WHERE CONTAINS(POINT('ICRS', obj.coord_ra, obj.coord_dec), CIRCLE('ICRS', "+str(ra)+","+str(dec)+",  "+str(size)+")) = 1 "\
        "AND ts.truth_type = 1 "\
        "AND ts.mag_r < 21 "

    print(query)
    #get the results from the photometric catalog
    truth_plus_meas = service.search(query, maxrec=50000)
    return truth_plus_meas

# fetch a list of galaxies around a cluster core from DP0.2 using a TAP query
ra, dec = 55.7506655, -32.2722637
size = 0.5 #in degrees
  
# save the output as a Table, then as a Pandas DataFrame
`truth_plus_meas = runTAPobjplustruth(ra, dec, size)`

`tresults_tab = truth_plus_meas.to_table()`

`truthdata = tresults_tab.to_pandas()`

# In your own words, what does the following line do? Is the result a Series or a DataFrame?
`clustertruthdata = truthdata[(truthdata['redshift']<0.2) & (truthdata['redshift']>0.15) & (truthdata['ts_mag_r']<22)]`